/* CSS for Evolutionary Sound Page */

html {
  height: 100%;
}
body {
  margin: 0;
  background: #E0E5EF;
}


/* Main Title Bar at the top of the page. */
/* H1 is the text of the main title */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: white;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  background-color: #A02; 
  padding: 0.5%;
}
header p {
  margin: auto 1%;
}
h1 {
  margin: auto 1%;
}


/* Navigation bar looks similar to the header. Bar across top of page.*/
nav  {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center; 
  background: #222;
}
nav a {
  padding: 2%;
  text-decoration: none;
  color: white;
  border: ridge 1px transparent;
  background: #222;
}
nav a:hover {
  text-decoration: underline;
  background: #272;
  border-color: #FFF;
}


/* The Main area holds the content (which is the info boxes) */
main {
  /* max-width: 40em; */
  display: flex;
  flex-wrap: wrap;
}




/* Sections are used for the Informational Boxes*/
/* H2 headers are part of the sections*/
article,
section {
  background: #FFF;
  margin: 1em 1%;
  padding: 1em;
  border: solid 1px #AAA;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px #AAA;
   
  /* resize: both;
  overflow: auto; */
}
h2 {
  margin-top: 0;
  border-bottom: solid 1px #EEE;
}





/* Articles are used for boxes with a lot more text in them */
article {
  max-width: 50em;
  margin: 1%;
}

/* SPAN tags are used for the special text that are changed frequently during usage */
/* These areas sometiems require special CSS to keep the page looking nice */

span {
  background: #CEF;
  padding: 0.2em;
  border-radius: 0.1em;
  border: solid 1px #DDD;
  display: inline-block;
  font-variant:  all-small-caps;
}

span#sound_status {
  width: 4em;
}
span#waveform_type {
  width: 5em;
}

span.Highlight {
  background: #CEF;
}
span.NoHighlight {
  background: #F8FCFF;
}
span.true {
  background: #CFC;
}
span.false {
  background: #FCC;
}

/* Animations */
/* DISABLED
@keyframes backgroundShift {
  0%   {background-color:#EEF; }
  25%  {background-color:#CCF; }
  50%  {background-color:#CFC; }
  75%  {background-color:#FCC; }
  100% {background-color:#EEF; }
}

body {
  animation: backgroundShift 40s linear infinite;
}

*/